
<table class="grid-table">
  <tr *ngFor="let row of grid; let rowIndex = index">
    <td *ngFor="let col of row; let colIndex = index" class="grid-cell" 
    [class.green-background]="grid[rowIndex][colIndex]" (click)="onClickCell(rowIndex, colIndex)" >
    </td>
  </tr>
</table>
<div id="container-div">
  <button id="boutton1" (click)="onClickStart()" *ngIf="jouer">Commencer</button>
  <button id="boutton2"  (click)="onClickStop()" *ngIf="stop">Stop</button>
  <button id="boutton3" (click)="onClickRestart()">renitialiser</button>
</div>